:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --colorP: #784d3c;
    --blanco: #ffffff;
    --gris: #e1e1e1e1;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    /*width: min(); esto es algo nuevo que implementaron en css3 y es mas corto que poner width: ; y max-width: ;*/
    /*
    max-width: 120rem;
    width: 90%;
    */
    width: min(90%, 120rem);
    margin: 0 auto;
}
/*esto es para quitarle las lineas a los links*/
a {
    text-decoration: none;
}
/*esto es para poner una fuente a todos los textos h*/
h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/* Utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/* Cabeza */
.webp .header {
    background-image: url(../img/banner.webp);
}
.no-webp .header {
    background-image: url(../img/banner.jpg);
}
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header_texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header_texto {
        margin-top: 15rem;
    }   
}
.barra {
    padding-top: 2rem;
}


@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }   
}
.navegacion_enlace {
    /*Esto es para que se acomoden de arriba a abajo*/
    display: block;
    text-align: center;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        /*esto es para elegir el tamaño de las columnas 
        (en este caso la primera columna va a tomar 2 tercios y la segunda 1 tercio)*/
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}
/*aqui va todo sobre el boton*/
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        /*inline no se podra poner un margen ni un width pero si ponemos un inline-block si se podra poner un margen y un width
        y no podremos poner algo alado del objeto con inline-block*/
        display: inline-block;
   }
}
.boton:hover {
    cursor: pointer;
}
/*lo de --primario se puede usar la configuracion de .boton y el --primario lo puedes usar para añadir algo o cambiar algo*/
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--colorP);
}
/*cursos*/
.cursos {
    list-style: none;
}
.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}
.footer {
    background-color: var(--negro);
    padding-bottom: 2rem;
    margin-top: 4rem;
}
/** Sobre Nosotros**/
@media (min-width: 768px) {
    /*esto es por si no quieres usar gap con flex box*/
    /*
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }   
    .sobre-nosotros__texto {
        flex: 0 0 calc(50% - 1rem);
    }
    .sobre-nosotros__imagen {
        flex: 0 0 calc(50% - 1rem); 
    }
    */
    /*esto es por si no quieres usar gap con grid*/
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
/** Cursos **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type {
    border: none;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info {
    font-weight: normal;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}

/** Contacto **/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}